
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Catégories</h1>

	<table>
		<f:for each="{categories}" as="categorie">
			<tr>
				<td><f:link.action action="show" arguments="{categorie : categorie}"> {categorie.nom}</f:link.action>&emsp;</td>
				<td><f:image image="{categorie.image}" height="40px" /></td>
			</tr>
		</f:for>
	</table>

<f:link.action action="new">New Categorie</f:link.action>
</f:section>