
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Produits</h1>

<f:flashMessages />


	<table>
		<f:for each="{produits}" as="produit">
			<tr>
				<td><f:link.action action="show" pageUid="{settings.descproduits}" arguments="{produit : produit}"> {produit.nom}</f:link.action>&emsp;</td>
				<td><f:image image="{produit.image}" height="75px" />&emsp;</td>
				<td>{produit.prix} €</td>
			</tr>
		</f:for>
	</table>

<f:link.action action="new">New Produit</f:link.action>
</f:section>